.nav {
  display: flex;
  background-color: #1d4ed8;
  color: #ffffff;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}

.nav a {
  color: #ffffff;
}

.links {
  list-style: none;
  display: flex;
  margin-right: 1rem;
}

.links li {
  height: 70px;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}
